@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body{
    min-width:auto;
    max-width:auto;
    margin:auto;
}

img {
    width: 100%;
}

.logo {
    width: min-content;
    height: 100px;
    width: 120px;
}
      
.navbar {
    display: flex;
    background-color: gray;
    position: sticky; 
    align-items: center;
    justify-content: center;
    top: 12px;
    cursor: pointer;
}
      
.nav-seções {
    width: 50%;
    display: flex;
}
      
.nav-seções li {
    list-style: none;
    padding: 26px 30px;
}
      
.nav-seções li a {
    text-decoration: none;
    color:black;
}
    
body {
background-color: gray;
}
    
.cidade {
    width: 100%;
    height: 400px;
}

.povos {
    width: 650px;
    height: 350px;
}

.comida {
    width: 650px;
    height: 350px;
}

.historia {
    width: 590px;
    height: 350px;
}

h1 {
    text-align: center;
}

iframe {
    width: 100%; 
    height: 500px;
    margin-left: auto;
    margin-right: auto; 
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.Linkedin{
    width: 100px;
}

.GitHub{
    width: 100px;
}